{{#section 'style'}}
  <link rel="stylesheet" href="../dist/css/task.css">
  <style>
    .glyphicon {
      font-size: 24px;
    }
    .nav_back {
      float: left;
      margin: 10px 0 0 6px;
    }
  </style>
{{/section}}
<div class="page-header">
  <h3>Edit task name: {{file}}</h3>
</div>

{{> hide}}

<form action="/create_task" method="POST" id="task_form">
  <h2>Basic info</h2>
  <hr/>
  <div id="basic_info">
    <div class="form-group">
      <input type="hidden" name="task_name" value="{{json.task_name}}" />
    </div>

    {{!-- describe main task --}}
    <div class="form-group">
      <label for="describe">The structure to the test suite:</label>
      <input id="describe" type="text" value="{{json.describe}}" name="describe" class="form-control" />
    </div>

    {{!-- the url --}}
    <div class="form-group">
      <label for="url">The url:</label>
      <input id="url" type="text" name="url" value="{{json.url}}" class="form-control" />
    </div>

    {{!-- The language --}}
    <p>
      <label for="lang">
        The language:
        {{> langs}}
      </label>
    </p>

    {{!-- Test account and password --}}
    {{> account}}
  </div>{{!-- basic_info end --}}

  <hr/>
  <h2>Create Steps</h2>
  <hr/>

  <div id="create_step">
    {{!-- Basic step --}}
    {{> basic_step}}
  </div>

  <div class="btn-toolbar"><button type="button" id="add" class="btn btn-primary">Add Steps</button></div>
  <div class="btn-toolbar"><button id="btn" type="submit" class="btn btn-default">Save task</button>
  </div>
</form>
<div class="alert alert-danger" role="alert" id="error-msg"></div>
<div class="alert alert-success" role="alert" id="success-msg"></div>

{{#section 'jquery'}}
  <script src="../lib/task.js"></script>
  <script>
    $(function () {
      var obj = {{{json json}}};
      // console.log(obj);
    });
  </script>
{{/section}}